<div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20" class="container">

  <div fxFlex fxLayout="row" fxLayoutGap="20">
    <h2 fxFlex="100" style="text-align: center;">{{ (student$ | async)!.firstName }} {{ (student$ | async)!.lastName }}</h2>
  </div>

  <div fxFlex fxLayout="row" fxLayoutGap="20">
    <button mat-raised-button (click)="refresh_ButtonClick()">Refresh</button>
    <button mat-raised-button (click)="calendar_ButtonClick()">See Full Calendar</button>
    <button mat-raised-button (click)="add_ButtonClick()" color="primary">Add Note</button>
    <button mat-raised-button *ngIf="dataSource.selection.selected.length == 1" (click)="edit_ButtonClick()" color="accent">Edit Note</button>
    <button mat-raised-button *ngIf="dataSource.selection.selected.length != 0" (click)="delete_ButtonClick()" color="warn">Delete Note</button>
  </div>

  <div fxFlex fxLayout="row" fxLayoutGap="20">
    <mat-form-field fxFlex="100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="filterText_Changed($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
  </div>

  <div fxFlex fxLayout="row">
    <div fxFlex="100" class="mat-elevation-z8">
      <table mat-table class="full-width-table" matSort aria-label="Notes">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="dataSource.toggleAll()"
                          [checked]="dataSource.hasValue() && dataSource.isAllSelected()"
                          [indeterminate]="dataSource.hasValue() && !dataSource.isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? dataSource.toggleData(row) : null"
                          [checked]="dataSource.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- notes Column -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef>Notes</th>
          <td mat-cell *matCellDef="let row">{{row.note}}</td>
        </ng-container>
        <!-- date created Column -->
        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
          <td mat-cell *matCellDef="let row">{{row.date}}</td>
        </ng-container>
        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Pinned</th>
          <td mat-cell *matCellDef="let row">
            <mat-radio-button value="row.id" [checked]="row.isPinned" (change)="pin_Changed(row)"></mat-radio-button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataSource.columns"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource.columns;"></tr>
      </table>
      <!--<mat-paginator #paginator
          [length]="dataSource?.data?.length"
          [pageIndex]="0"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          aria-label="Select page">
      </mat-paginator>-->
    </div>
  </div>
</div>

