<form [formGroup]="studentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="student-card">
    <mat-card-header>
      <mat-card-title>
        <h1 mat-dialog-title>Student Information</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div mat-dialog-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="First name" formControlName="firstName" />
              <mat-error *ngIf="studentForm.controls['firstName'].hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Last name" formControlName="lastName" />
              <mat-error *ngIf="studentForm.controls['lastName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Middle name" formControlName="middleName" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div mat-dialog-actions align="center">
        <button mat-raised-button color="primary" type="submit">Save</button>
        <button mat-raised-button (click)="onNoClick()" type="button">Cancel</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
